In [47]:
import numpy as np
import pandas as pd

### How to import pandas and check the version?

In [39]:
pd.__version__
# pd.show_versions(as_json=True)

'0.24.2'

### How to create a series from a list, numpy array and dict?

In [45]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
# pd.Series(mylist)
# pd.Series(myarr)
# pd.Series(mydict)

### How to convert the index of a series into a column of a dataframe?

In [44]:
ser = pd.Series(mydict)
# pd.DataFrame(pd.Series(mydict)).reset_index()
# ser.to_frame().reset_index()

### How to combine many series to form a dataframe

In [55]:
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# pd.concat([ser1, ser2], axis=1)
# column_data = pd.DataFrame({'col1': ser1, 'col2': ser2})
# column_data.head(5)

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

### How to assign name to the series’ index?

In [57]:
# ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
# ser.name = 'alphabets'
# ser.head()

### How to get the items of series A not present in series B?

In [59]:
# ser1 = pd.Series([1, 2, 3, 4, 5])
# ser2 = pd.Series([4, 5, 6, 7, 8])
# ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### How to get the items not common to both series A and series B?

In [67]:
# ser1 = pd.Series([1, 2, 3, 4, 5])
# ser2 = pd.Series([4, 5, 6, 7, 8])

# ser_u = pd.Series(np.union1d(ser1, ser2)) # union
# ser_u
# ser_i = pd.Series(np.intersect1d(ser1, ser2)) #intersect
# ser_i
# ser_u[~ser_u.isin(ser_i)]

0    4
1    5
dtype: int64

### How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [71]:
# ser = pd.Series(np.random.normal(10, 5, 25))
# state = np.random.RandomState(100)
# ser = pd.Series(state.normal(10, 5, 25))
# np.percentile(ser, q=[0, 25, 50, 75, 100])

###  How to get frequency counts of unique items of a series?

In [78]:
# ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
# ser.value_counts()

### How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [80]:
# np.random.RandomState(100)
# ser = pd.Series(np.random.randint(1, 5, [12]))
# ser.value_counts()
# ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
# ser

###  How to bin a numeric series to 10 groups of equal size?

In [87]:
ser = pd.Series(np.random.random(20))
# ser.head()
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    10th
1     5th
2     6th
3     9th
4     4th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

###  How to convert a numpy array to a dataframe of given shape? (L1)

In [94]:
# ser = pd.Series(np.random.randint(1, 10, 35))
# df = pd.DataFrame(ser.values.reshape(7,5))
# df

   0  1  2  3  4
0  8  3  9  2  1
1  8  2  9  4  9
2  7  5  4  8  1
3  9  2  7  5  1
4  5  7  8  8  5
5  1  1  4  1  8
6  5  5  6  2  2

###  How to find the positions of numbers that are multiples of 3 from a series?

In [105]:
# ser = pd.Series(np.random.randint(1, 10, 7))
# ser
# np.argwhere(ser % 3 == 0)

array([[0],
       [3],
       [4]])

### How to extract items at given positions from a series

In [108]:
# ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
# pos = [0, 4, 8, 14, 20]
# ser.take(pos)

### How to stack two series vertically and horizontally ?

In [113]:
# ser1 = pd.Series(range(5))
# ser2 = pd.Series(list('abcde'))

# ser1.append(ser2)
# ser1
# df = pd.concat([ser1, ser2], axis=1)
# df = pd.DataFrame({'col1': ser1, 'col2': ser2})
# df

   col1 col2
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e

### How to get the positions of items of series A in another series B?

In [117]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# [np.where(i == ser1)[0].tolist()[0] for i in ser2]

# [pd.Index(ser1).get_loc(i) for i in ser2]

### How to compute the mean squared error on a truth and predicted series?

In [153]:
# truth = pd.Series(range(10))
# pred = pd.Series(range(10)) + np.random.random(10)
# np.mean((truth-pred)**2)

0.4833118758322759

### How to convert the first character of each element in a series to uppercase?

In [160]:
# ser = pd.Series(['how', 'to', 'kick', 'ass?'])
# ser.map(lambda x: x.title())
# ser.map(lambda x: x[0].upper() + x[1:])
# pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### How to calculate the number of characters in each word in a series?

In [162]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

### How to compute difference of differences between consequtive numbers of a series?

In [164]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff().tolist()
ser.diff().diff().tolist()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### How to convert a series of date-strings to a timeseries?

In [167]:
# # solution 1
# from dateutil.parser import parse
# ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
# ser.map(lambda x: parse(x))
# #solution 2
# pd.to_datetime(ser)

### How to get the day of month, week number, day of year and day of week from a series of date strings?

In [172]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser_ts = pd.to_datetime(ser)
#day of the month
ser_ts.dt.day.tolist()
#week number
ser_ts.dt.weekofyear.tolist()
# day of year
ser_ts.dt.dayofyear.tolist()
# day of week
ser_ts.dt.weekday_name.tolist()

['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### How to convert year-month string to dates corresponding to the 4th day of the month?

In [180]:
# ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
# from dateutil.parser import parse
# Parse the date
# ser_ts = ser.map(lambda x: parse(x))
# ser_ts = pd.to_datetime(ser)
# ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'
# [parse(i).strftime('%Y-%m-%d') for i in ser_datestr]
# ser.map(lambda x: parse('04 ' + x))

### How to filter words that contain atleast 2 vowels from a series?

In [185]:
# ser = pd.Series(['Apple', 'ng', 'Plan', 'Python', 'Money'])
# from collections import Counter
# mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
# ser[mask]

### How to filter valid emails from a series?

In [188]:
# emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
# pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
# import re
# pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
# mask = emails.map(lambda x: bool(re.match(pattern, x)))
# emails[mask]

# # Solution 2 (as series of list)
# emails.str.findall(pattern, flags=re.IGNORECASE)

# # Solution 3 (as list)
# [x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

### How to get the mean of a series grouped by another series?

In [200]:
# fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
# weights = pd.Series(np.linspace(1, 10, 10))
# weights.tolist()
# fruit.tolist()
# weights.groupby(fruit).mean()

apple     6.25
banana    1.50
carrot    6.75
dtype: float64

### How to compute the euclidean distance between two series?

In [204]:
# p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
# q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
# sum((p - q)**2)**.5
# np.linalg.norm(p-q)

### How to find all the local maxima (or peaks) in a numeric series?

In [206]:
# ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
# # Solution
# dd = np.diff(np.sign(np.diff(ser)))
# peak_locs = np.where(dd == -2)[0] + 1
# peak_locs

### How to replace missing spaces in a string with the least frequent character?

In [211]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
freq
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

'dbcgdebgabedggade'

### How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [276]:
# # Solution
# ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
# ser

### How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [279]:
# # Input
# ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# # Solution
# ser.resample('D').ffill()  # fill with previous value

# # Alternatives
# ser.resample('D').bfill()  # fill with next value
# ser.resample('D').bfill().ffill()  # fill next else prev value

### How to compute the autocorrelations of a numeric series?

In [281]:
# # Input
# ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# # Solution
# autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
# print(autocorrelations[1:])
# print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

### How to import only every nth row from a csv file to create a dataframe?

In [288]:
# # Solution 1: Use chunks and for-loop
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
# df2 = pd.DataFrame()
# for chunk in df:
#     df2 = df2.append(chunk.iloc[0,:])


# # Solution 2: Use chunks and list comprehension
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
# df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
# df2 = df2.transpose()
# df2

# Solution 3: Use csv reader
# import csv          
# with open('BostonHousing.csv', 'r') as f:
#     reader = csv.reader(f)
#     out = []
#     for i, row in enumerate(reader):
#         if i%50 == 0:
#             out.append(row)

# df2 = pd.DataFrame(out[1:], columns=out[0])
# print(df2.head())

###  How to change column values when importing csv to a dataframe?

In [297]:
# # Solution 1: Using converter parameter
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
#                  converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

# # Solution 2: Using csv reader
# import csv
# with open('BostonHousing.csv', 'r') as f:
#     reader = csv.reader(f)
#     out = []
#     for i, row in enumerate(reader):
#         if i > 0:
#             row[13] = 'High' if float(row[13]) > 25 else 'Low'
#         out.append(row)

# df = pd.DataFrame(out[1:], columns=out[0])
# print(df.head())

###  How to create a dataframe with rows as strides from a given series?

In [296]:
# L = pd.Series(range(15))

# def gen_strides(a, stride_len=5, window_len=5):
#     n_strides = ((a.size-window_len)//stride_len) + 1
#     return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

# gen_strides(L, stride_len=2, window_len=4)

### How to import only specified columns from a csv file?

In [299]:
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
# print(df.head())

### How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [302]:
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# #  number of rows and columns
# print(df.shape)

# # datatypes
# print(df.dtypes)

# # how many columns under each dtype
# print(df.get_dtype_counts())
# print(df.dtypes.value_counts())

# # summary statistics
# df_stats = df.describe()

# # numpy array 
# df_arr = df.values

# # list
# df_list = df.values.tolist()

### How to extract the row and column number of a particular cell with given criterion?

In [305]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# # Get Manufacturer with highest price
# df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# # Get Row and Column number
# row, col = np.where(df.values == np.max(df.Price))

# # Get the value
# df.iat[row[0], col[0]]
# df.iloc[row[0], col[0]]

# # Alternates
# df.at[row[0], 'Price']
# df.get_value(row[0], 'Price')

# # The difference between `iat` - `iloc` vs `at` - `loc` is:
# # `iat` snd `iloc` accepts row and column numbers. 
# # Whereas `at` and `loc` accepts index and column names.

/home/user/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

61.9

### How to rename a specific columns in a dataframe?

In [309]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# # Step 1:
# df=df.rename(columns = {'Type':'CarType'})
# # or
# df.columns.values[2] = "CarType"

# # Step 2:
# df.columns = df.columns.map(lambda x: x.replace('.', '_'))
# print(df.columns)

### How to check if a dataframe has any missing values?

In [312]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# df.isnull().values.any()

### How to count the number of missing values in each column?

In [315]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# n_missings_each_col = df.apply(lambda x: x.isnull().sum())
# n_missings_each_col.argmax()

### How to replace missing values of multiple numeric columns with the mean?

In [319]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
# print(df_out.head())

### How to use apply function on existing columns with global variables as additional arguments?

In [322]:
# # Input
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# # Solution
# d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
# df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

###  How to select a specific column from a dataframe as a dataframe instead of a series?

In [324]:
# # Input
# df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# # Solution
# type(df[['a']])
# type(df.loc[:, ['a']])
# type(df.iloc[:, [0]])

# # Alternately the following returns a Series
# type(df.a)
# type(df['a'])
# type(df.loc[:, 'a'])
# type(df.iloc[:, 1])

### How to change the order of columns of a dataframe?

In [327]:
# # Input
# df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# # Solution Q1
# df[list('cbade')]

# # Solution Q2 - No hard coding
# def switch_columns(df, col1=None, col2=None):
#     colnames = df.columns.tolist()
#     i1, i2 = colnames.index(col1), colnames.index(col2)
#     colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
#     return df[colnames]

# df1 = switch_columns(df, 'a', 'c')

# # Solution Q3
# df[sorted(df.columns)]
# # or
# df.sort_index(axis=1, ascending=False, inplace=True)