In [1]:
import numpy as np
import pandas as pd

In [2]:
zoo = pd.read_csv('zoo.csv', delimiter=',')

In [31]:
# zoo.count()
# zoo['animal'].count()
# zoo.water_need.count()
# zoo.water_need.sum()
# zoo.sum()
# zoo.water_need.pow(2)
# zoo.water_need.median()
# zoo.water_need.mean()

325.0

In [3]:
# zoo.groupby('animal').mean()[['water_need']]
zoo.groupby('animal').sum()[['water_need']]
# zoo.groupby('animal').median()[['water_need']]
# zoo

          water_need
animal
elephant        1650
kangaroo        1250
lion            1910
tiger           1550
zebra           1290